# Stabilitaetsfenster in Tagen
# Die Auswertung umfasst jetzt - tStabilAnfang bis jetzt - tStabilEnde.
tStabilAnfang=20
tStabilEnde=5
# Abfallfenster in Tagen
tAbfallAnfang=4
tAbfallEnde=0
# Schwellenwerte für das Kursereignis
StabSchwelle=0.03
AbfallSchwelle=-0.1
